<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      
      <div class="container">
        <h2>Your Complaints</h2><br><br>
        <div class="row">
          <table class="table table-hover" width="100%" cellspacing="40px" style="font-size:20px">
            <tr class="table-light">
              <th>S No</th>
              <th>Complaint Type</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
            
            {% for complaint in complaints %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="" style="text-decoration:none;color:black">{{ complaint }}</td>
                <td>{{ complaint.body | slice:"0:10" }}</td>
                <td class="table-light">{{ complaint.status }}</td>
              </tr>
            {% endfor %}
          </table>
          
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter">1</span>
            <h6>Total Complaints</h6>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter">2</span>
            <h6>Solved</h6>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter">1</span>
            <h6>Under Progress</h6>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter">5</span>
            <h6>Unsolved</h6>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Theme</h2>
          <p>The purpose of this webpage is to provide the students an interactive page to fill their comlpaints and keep a track of them.It also provides a track of previous complaints filed </p>
        </div>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">


        <div class="row">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <a>RGUKT RK Valley, Vempalli,Kadapa 516330</a>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Website</h3>
              <a href="rgukt.in">rgukt.in</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->